*.suo
*.user
*.userosscache
*.sln.docstates

.vscode/
.config/

[Bb]in/
[Oo]bj/

.idea/

.DS_Store
Thumbs.db

Content/bin/
Content/obj/

git rm -r --cached sunmoon/.config
git rm -r --cached sunmoon/.vscode
